.form {
  padding: var(--gutter-md) 2rem;
  & div {
    box-shadow: 0 1px 0 0 var(--color-4);
    transition: box-shadow 0.3s;
    & label,
    input {
      font-size: 1.4rem;
      color: var(--color-3);
    }
    &:hover {
      box-shadow: 0 2px 0 0 var(--color-4);
    }
  }
}
