@font-face {
  font-family: "BMW";
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/BMWTypeNext-Bold.20210426144302.ttf")
    format("opentype");
}
@font-face {
  font-family: "BMW";
  font-weight: 300;
  font-display: swap;
  src: url("./assets/fonts/BMWTypeNext-Light.20210426144302.ttf")
    format("opentype");
}

:root {
  --font-primary: "BMW", sans-serif;
  --gutter-sm: 1.5rem;
  --gutter-md: 3rem;
  --gutter-xl: 6rem;
  --color-1: #ffffff;
  --color-2: #262626;
  --color-3: #666666;
  --color-4: #e6e6e6;
  --color-5: #000000;
  --color-accent: #25d366;
  font-family: var(--font-primary);
  line-height: 1.35;
  font-weight: 300;
  font-size: 62.5%;

  color: var(--color-gray-1);
  background-color: var(--color-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
}

img,
svg {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.fw-light {
  font-weight: 300;
}

.fw-bold {
  font-weight: 700;
}

.d-flex {
  display: flex;
}

.gap-sm {
  gap: var(--gutter-sm);
}
.gap-md {
  gap: var(--gutter-md);
}
.gap-xl {
  gap: var(--gutter-xl);
}
.flex-column {
  flex-direction: column;
}
