.banner {
  background-image: url("../../../assets/imgs/banners/desktop-banner.jpg");
  background-size: cover;
  & > div {
    justify-content: flex-end;
    align-items: flex-start;
    padding: var(--gutter-sm);
  }
}

@media (min-width: 991px) {
  .banner {
    height: 40.625vw;
    background-size: cover;
    min-height: 51rem;
    // max-height: 78.6rem;
  }
}
@media (max-width: 876px) {
  .banner {
    background-image: url("../../../assets/imgs/banners/mobile-banner.png");
    height: 120vw;
    background-position: center;
  }
}
