.btn {
  display: flex;
  border: none;
  font-weight: 700;
  align-items: center;
  padding: 1.2rem 1.8rem;
  font-size: 1.4rem;
  background-color: var(--color-5);
  color: var(--color-1);
  gap: 6px;
  & svg {
    fill: currentColor;
    width: 1.9rem;
  }
}
