.modal {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 3;
  inset: 6rem 0 0 0;
  display: flex;
  justify-content: flex-end;
  & .form {
    transform: translateX(10vw);
    opacity: 0;
    animation: toLeft 0.3s ease-in-out forwards;
    width: max(28rem, 30%);
    max-width: max(28rem, 30%);
    margin: 0;
    & input::placeholder {
      color: transparent;
    }
  }
  &.top .form {
    transform: translateY(-10vw);
    width: 100%;
    max-width: 100%;
  }
}

@keyframes toLeft {
  to {
    transform: initial;
    opacity: 1;
  }
}
